.primary{
    color: rgb(115, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}

.font-xl{
    font-size: 72px;
}

.reviewtile {
    background-color: rgb(175, 58, 58);
    color: aqua;
  }